---
import "../styles/global.css";
import { Check, Binoculars, CableCar, Timer, Users, Tag, FileScan, Binary, Megaphone, Package2 } from "@lucide/astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="feature_clients" class="bg-white py-20">
    <div class="container mx-auto px-6">
      <div class="mb-16 text-center">
        <h2 class="mb-4 text-4xl font-bold text-gray-900">Klient*innenverwaltung</h2>
        <p class="text-xl text-gray-600">Erfasen und Darstellen aller relevanten Informationen zu Klien*innen in der Zentralen Übersicht</p>
      </div>

      <div class="grid items-center gap-12 gap-y-24 lg:grid-cols-2">
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binoculars class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Zentrale Übersicht</h3>
              <p class="text-gray-600"
                >Auf der Klient*innen Übersicht werden Kontaktdaten, Beziehungen, Memos sowie die Dokumente zentral und Übersichtlich dargestellt. Sie
                dient als Zugangspunkt zu allen Mandatsrelevanten Informationen.</p
              >
            </div>
          </div>
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Users class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Stammdaten</h3>
              <p class="text-gray-600"
                >Adressen, Kennnummern und Kontaktdaten werden übersichtlich erfasst und dargestellt. Sie können mit einem Klick kopiert und in
                externen Diensten wie Email- oder Buchhaltungsprogrammen verwendet werden.</p
              >
            </div>
          </div>
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/client_infos.png" alt="Klient*innen Dashboard" class="mb-6 rounded-lg" />
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/client_relations.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Tag class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Beziehungen und Kontaktpersonen</h3>
              <p class="text-gray-600"> Für die Klient*innen relevante Beziehungen und Kontaktpersonen können erfasst und dargestellt werden. </p>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binoculars class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Bankverbindungen und Abos</h3>
              <p class="text-gray-600"
                >Durch die offene Gestaltung werden mittels Beziehungen auch Abonemente, Bankverbindungen und andere für die Klient*innen relevante
                Organisationen, Institutionen und Personen erfasst</p
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Feature Documentation Section -->
  <section id="feature_documentation" class="bg-gray-50 py-40">
    <div class="container mx-auto px-6">
      <div class="mb-16 text-center">
        <h2 class="mb-4 text-4xl font-bold text-gray-900">Digitale Fallführung</h2>
        <p class="text-xl text-gray-600">Erfassen von Memos (Akteneinträge) - Leistungserfassung und Dokumentation zugleich </p>
      </div>

      <div class="grid items-center gap-12 gap-y-24 lg:grid-cols-2">
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Check class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Überblick auch bei komplexen Mandaten</h3>
              <p class="text-gray-600">Erfassen und Nachvervolgen von Akteneinträgen (Memos) zur chronologischen Übersicht über Ihr Mandat</p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binoculars class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Volltextsuche und Filter</h3>
              <p class="text-gray-600"
                >Leistungsstarke Such- und Filteroptionen ermöglichen es, schnell und Präszise an die relevanten Informationen zu kommen</p
              >
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <CableCar class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Auch für unterwegs</h3>
              <p class="text-gray-600"
                >Als Mobile-Fähige WebAPP können Memos auch von unterwegs mit dem Smartphone diktiert werden. Durch die Zeiterfassung in den Memos ist
                damit auch bereits abgerechnet</p
              >
            </div>
          </div>
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/memos_read.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>

        <!-- Shortcuts-->
        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/shortcuts.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Timer class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Transparente Zeiterfassung</h3>
              <p class="text-gray-600"
                >Die geleistete Arbeit kann direkt in den Memos abgerechnet werden. Jedem Memo kann eine Dauer zugewiesen werden. So ist für die
                Revision auch ersichtlich für welche Tätigkeiten die Verrechnete Zeit aufgewendet wurde.</p
              >
            </div>
          </div>
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Timer class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Schnelltasten (Shortcuts) für repetitive Arbeiten</h3>
              <p class="text-gray-600"
                >Repetitive Tätigkeiten können als Shortcuts gespeichert werden. Dadurch ist es möglich diese auch ohne Erstellen eines eigenen Memos
                mit nur einem Klick zu erfassen und abzurechnen.</p
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Feature Document Mangement Section -->
  <section id="feature_documents" class="bg-white py-20">
    <div class="container mx-auto px-6">
      <div class="mb-16 text-center">
        <h2 class="mb-4 text-4xl font-bold text-gray-900">Dokumentenmanagement</h2>
        <p class="text-xl text-gray-600">Ein leistungstarkes integriertes Dokumenten-Management-System ersetzt Papierordner</p>
      </div>

      <div class="grid items-center gap-12 gap-y-24 lg:grid-cols-2">
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Users class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Klient*innenbasiertes Ablagesystem</h3>
              <p class="text-gray-600"
                >Die Dokumente der Klient*in werden übersichtlich auf dem Klientendashboard dargestellt. Nutzer*innenspezifische Sortiereinstellungen
                werden lokal gespeichert.
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Tag class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Flexible Verschlagwortung</h3>
              <p class="text-gray-600">
                Dokumente können mit Tags (Schlagworten) versehen werden um sie so einfach zu kategorisieren und wiederzufinden. Die Tags können frei
                gewählt werden um Unternehmensspezifische Abläufe präzise aubzubilden.
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binoculars class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Volltextsuche und Filteroptionen</h3>
              <p class="text-gray-600"
                >Alle Dokumente werden automatisch mittels Volltextsuche durchsuchbar gemacht. Zudem stehen verschiedene Filteroptionen zur Verfügung
                sodass auch in komplexen und langjährigen Mandaten alle Unterlagen geordnet bleiben.
              </p>
            </div>
          </div>
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/documents_view.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/illustrations/scan_workflow.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <FileScan class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Scannen in die APP</h3>
              <p class="text-gray-600"
                >Direktes Scannen und verschlüsselte Übertragung von Dokumenten vom lokalen Scanner in die Memova App. Durch die integrierte
                Barcode-Funktion werden auch grosse Stapel an unsortierten Briefen aufs Mal gescannt und automatisiert getrennt verarbeitet.</p
              >
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binary class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">KI Gestützte Dokumentenanalyse</h3>
              <p class="text-gray-600"
                >Jedes Dokument wird automatisch digitalisiert, KI gestützt analysiert und anschliessend mit den passenden Schlagworten versehen den
                jeweiligen Klient*innen zugeordnet.
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Megaphone class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Inbox für neue Dokumente</h3>
              <p class="text-gray-600"
                >Neue Dokumente erscheinen nach der Verarbeitung im digitalen Posteingang der Memova APP und sind mit einem Posteingangs-Tag versehen.
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Package2 class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Papier-Archiv im Minimum</h3>
              <p class="text-gray-600"
                >Mittels eingebauter Barcode-Funktion kann jeder Brief vor dem Scannen gekennzeichnet werden. So wird jedes digitale Dokument in
                Memova ihrem originalen Papierdokument zugeordnet. Die Originaldokumente können im minimum nach Barcode-Nummer sortiert gemeinsam
                abgelegt werden. Wir das Original benötigt, helfen die Such- und Filteroptionen in Memova das Dokument zu finden und die zugehörige
                Barcode-Nummer auszulesen. Diese zeigt dann den Standort des Originaldokumentes an.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Feature Client Section -->
  <section id="feature_security" class="bg-gray-50 py-20">
    <div class="container mx-auto px-6">
      <div class="mb-16 text-center">
        <h2 class="mb-4 text-4xl font-bold text-gray-900">Sicherheit und Datenschutz</h2>
        <p class="text-xl text-gray-600">Wir legen besonderen Wert auf Datenschutz und -sicherheit</p>
      </div>

      <div class="grid items-center gap-12 gap-y-24 lg:grid-cols-2">
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Users class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Schweizer Produkt</h3>
              <p class="text-gray-600">Memova wurde vollständig in der Schweiz entwickelt</p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Tag class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Datenspeicherung auf schweizer Servern</h3>
              <p class="text-gray-600">
                Alle Daten werden ausschliessich von schweizer Anbieterinnen auf Servern in der Schweiz gespeichert und verarbeitet und unterliegen
                somit dem strengen schweizer Datenschutzgesetz.
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Binoculars class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Schutz vor Datenverlust</h3>
              <p class="text-gray-600"
                >Ihre Daten werden stündlich verschlüsselt und auf einem seperaten Server-Standort in der Schweiz gesichert. Im ernstfall kann die
                Wiederherstellung der Daten so ohne Zeit- und Informationsverlust erfolgen.
              </p>
            </div>
          </div>
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/screenshots/documents_view.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>

        <div class="rounded-2xl bg-white p-8 shadow-xl">
          <img src="/images/illustrations/scan_workflow.png" alt="Memos Screenshot" class="mb-6 rounded-lg" />
        </div>
        <div class="space-y-6">
          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <FileScan class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Audit-Log</h3>
              <p class="text-gray-600">Administrator*innen haben Zugriff auf ein Audit-Log um Änderungen nachzuvollziehen. </p>
            </div>
          </div>

          <div class="flex gap-4">
            <div class="flex-shrink-0">
              <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-500">
                <Megaphone class="text-lg text-white" />
              </div>
            </div>
            <div>
              <h3 class="mb-2 text-xl font-bold text-gray-900">Schutz vor Phishing</h3>
              <p class="text-gray-600"
                >Durch eingebaute Sicherheitsmechanismen wie das passwortlose Loginverfahren mittels Passkeys wird das Risiko vor Phishing- und
                Ransomware-Attacken reduziert</p
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section class="bg-gradient-to-r from-blue-600 to-indigo-600 py-20">
    <div class="container mx-auto px-6 text-center">
      <h2 class="mb-4 text-4xl font-bold text-white"> Bereit, Ihre Arbeit zu vereinfachen? </h2>
      <p class="mb-8 text-xl text-blue-100"> Starten Sie noch heute Ihren weg in die digitale Mandatsführung mit Memova </p>
      <button
        class="transform rounded-full bg-white px-8 py-4 font-semibold text-blue-600 shadow-xl transition-all hover:scale-105 hover:bg-gray-100"
      >
        Kontaktieren Sie uns für eine konstenlose Demonstration
      </button>
    </div>
  </section>
</Layout>
