---
import { type Icon as IconType } from "@lucide/astro";

interface Props {
  title: string;
  description: string;
  icon: typeof IconType;
  image: string;
  imageAlt?: string;
  color: "blue" | "orange" | "red" | "green" | "purple" | "indigo";
  link?: string;
}

const { title, description, icon: Icon, image, color, link, imageAlt } = Astro.props;

const iconColorVariants = {
  blue: "text-blue-600",
  orange: "text-orange-600",
  red: "text-red-600",
  green: "text-green-600",
  purple: "text-purple-600",
  indigo: "text-indigo-600",
};
const iconContainerVariants = {
  blue: "bg-blue-100 group-hover:bg-blue-600",
  orange: "bg-orange-100 group-hover:bg-orange-600",
  red: "bg-red-100 group-hover:bg-red-600",
  green: "bg-green-100 group-hover:bg-green-600",
  purple: "bg-purple-100 group-hover:bg-purple-600",
  indigo: "bg-indigo-100 group-hover:bg-indigo-600",
};

const iconVariantClass = iconColorVariants[color];
const iconContainerColor = iconContainerVariants[color];
---

<a class="group rounded-xl border border-gray-100 p-8 transition-all duration-300 hover:shadow-xl" href={link ?? ""}>
  <div class:list={["mb-6 flex h-14 w-14 items-center justify-center rounded-lg transition-colors", iconContainerColor]}>
    <Icon class:list={["text-2l group-hover:text-white", iconVariantClass]} />
  </div>
  <h3 class="mb-3 text-xl font-bold text-gray-900">{title}</h3>
  <p class="mb-4 text-gray-600">{description}</p>
  <div class="flex aspect-video items-center justify-center rounded-lg bg-gradient-to-br from-gray-50 to-gray-100">
    <img src={`${image}`} alt={`${imageAlt ?? "Memova Illustration Funktion"}`} />
  </div>
</a>
