<footer class="bg-brand-dark text-white">
  <div class="container mx-auto">
    <div class="grid gap-8 md:grid-cols-4">
      <!--

      <div>
        <div class="mb-4 flex items-center space-x-3">
          <div class="flex h-10 w-auto items-center justify-center rounded-lg">
            <img src="/images/logo/favicon.png" alt="Memova Logo" class="h-6 w-auto" />
          </div>
        </div>
        <p class="text-gray-400">Die digitale Lösung für moderne Beistände in der Schweiz.</p>
      </div>

      <div>
        <h4 class="mb-4 font-semibold">Produkt</h4>
        <ul class="space-y-2 text-gray-400">
          <li><a href="/#features" class="transition-colors hover:text-white">Funktionen</a></li>
          <li><a href="/#preise" class="transition-colors hover:text-white">Preise</a></li>
          <li><a href="/#team" class="transition-colors hover:text-white">Über Uns</a></li>
        </ul>
      </div>

      <div>
        <h4 class="mb-4 font-semibold">Support</h4>
        <ul class="space-y-2 text-gray-400">
          <li><a href="#" class="transition-colors hover:text-white">Hilfe Center</a></li>
          <li><a href="#" class="transition-colors hover:text-white">Dokumentation</a></li>
          <li><a href="#kontakt" class="transition-colors hover:text-white">Kontakt</a></li>
        </ul>
      </div>

      <div>
        <h4 class="mb-4 font-semibold">Rechtliches</h4>
        <ul class="space-y-2 text-gray-400">
          <li><a href="#" class="transition-colors hover:text-white">Datenschutz</a></li>
          <li><a href="#" class="transition-colors hover:text-white">AGB</a></li>
          <li><a href="#" class="transition-colors hover:text-white">Impressum</a></li>
        </ul>
      </div>
       -->
    </div>
    <div class="flex items-center justify-center space-x-3 border-b border-gray-500 py-6 text-white">
      <a class="hover:text-gray-300" href="/impressum">Impressum</a>
      <a class="hover:text-gray-300" href="/privacy">Datenschutzerklärung</a>
    </div>
    <div class="py-6 text-center text-white"> Memova Tech GmbH 2025 </div>
  </div>
</footer>
