<footer class="bg-brand-dark text-white">
  <div class="container mx-auto">
    <div class="grid gap-8 md:grid-cols-4">
    </div>
    <div class="flex items-center justify-center space-x-3 border-b border-gray-500 py-6 text-white">
      <a class="hover:text-gray-300" href="/impressum">Impressum</a>
      <a class="hover:text-gray-300" href="/privacy">Datenschutzerklärung</a>
    </div>
    <div class="py-6 text-center text-white"> Memova Tech GmbH 2026 </div>
  </div>
</footer>
