---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("mobileMenuButton");
    const menu = document.getElementById("mobileMenu");
    if (btn && menu) {
      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    }
  });
</script>

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo/favicon.png" />
    <title>Memova - Digitale Mandatsführung im Sozialbereich</title>
  </head>
  <body class="flex min-h-screen flex-col bg-gray-50">
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>
